<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>publet</display-name>

    <listener>
        <!-- this must be the first one -->
        <listener-class>org.eknet.publet.web.PubletInitListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.eknet.publet.war.WebEditorListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.eknet.publet.war.ExtListener</listener-class>
    </listener>


    <filter>
        <filter-name>WebContextFilter</filter-name>
        <filter-class>org.eknet.publet.web.filter.WebContextFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>WebContextFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>ShiroFilter</filter-name>
        <filter-class>org.eknet.publet.web.shiro.ShiroSecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ShiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>publet</servlet-name>
        <servlet-class>org.eknet.publet.web.servlet.PubletServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>publet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GitHttpServlet</servlet-name>
        <servlet-class>org.eknet.publet.web.servlet.GitHttpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GitHttpServlet</servlet-name>
        <url-pattern>/git/*</url-pattern>
    </servlet-mapping>
</web-app>