@import url(core/base.css);

/* import screen layout | Screen-Layout einbinden */
@import url(navigation/hlist.css);
@import url(forms/gray-theme.css);

@import url(screen/typography.css);
@import url(screen/screen-FULLPAGE-layout.css);

/* import print layout | Druck-Layout einbinden */
@import url(print/print.css);

pre {
    line-height:1.5em;
    margin: 1.5em 0 0 0;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 5px;
    border: black dashed thin;
}
pre, code { color:#800; }