- import org.eknet.publet.gitr.auth.RepositoryModel
- import org.eknet.publet.gitr.auth.RepositoryTag
- import org.eknet.publet.gitr.webui.scripts.RepositoryInfo
-@ val repositoryInfo: Option[RepositoryInfo] = None
- val repositoryModel: Option[RepositoryModel] = repositoryInfo.map(_.model)
-@ val revisions: String = ""
-@ val currentHead: String = ""

=include("_repoHead.jade")
- if (repositoryModel.isDefined)
  - val owner = repositoryModel.get.owner
  form.form-inline
    .input-append
      input.input.span5(type="text" id="revnames" placeholder="Revision - start typing to search heads or enter a commit id" data-provide="typeahead" data-source={revisions})
      button.btn#searchRev(type="submit") Go
    ul.nav.nav-pills.pull-right
      li
        a(href={"?r="+repositoryModel.get.name.fullNameDotGit}) Source
      li
        a(href={"?r="+repositoryModel.get.name.fullNameDotGit+"&do=log"}) Log
      li
        a(href="./") Repositories
:javascript
  $(function() {
    $('#searchRev').on('click', function(e) {
      var rev = $('#revnames').val();
      $('#currentHead').text(rev);
      return false;
    });
  });