- import org.eknet.publet.gitr.auth.RepositoryModel
- import org.eknet.publet.gitr.auth.RepositoryTag
- import org.eknet.publet.gitr.auth.GitAction
-@ val repositoryModel: Option[RepositoryModel] = None
-@ val currentHead: String = ""

- if (repositoryModel.isEmpty)
  .div.alert.alert-error No repositoryModel found.
- if (repositoryModel.isDefined)
  - val owner = repositoryModel.get.owner
  .row
    .span5
      - if (repositoryModel.get.tag == RepositoryTag.open)
        i.icon-star
      - if (repositoryModel.get.tag == RepositoryTag.closed)
        i.icon-lock
      - if (owner == Security.username)
        i.icon-user
      - if (owner != Security.username)
        span.label.label-info =owner
      h2
        =repositoryModel.get.name.name
        | @
        span#currentHead
          =currentHead
    .span7
      ul.nav.nav-pills.pull-right
        - if (Security.hasPerm("git:" + GitAction.admin.name+":"+ repositoryModel.get.name.name))
          li
            a(href={"?r=" +repositoryModel.get.name.fullNameDotGit+ "&do=admin"}) Admin