@import url(core/base.css);

/* import screen layout | Screen-Layout einbinden */
@import url(navigation/hlist.css);
@import url(forms/gray-theme.css);

@import url(screen/typography.css);
@import url(screen/screen-FULLPAGE-layout.css);

/* import print layout | Druck-Layout einbinden */
@import url(print/print.css);

@import url(../icons/icons.css);

@media screen {
    #main .ym-wrapper {
        background: #f8f8f8;
    }
    body {
        background: #f8f8f8;
    }

    /* Layout Module Configuration */
    #main {
        color: #373737;
        font-size: 16px;
        font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
        line-height: 1.5;
    }

    #main .ym-wrapper2 {
        max-width: 50em;
        margin: 0 auto;
    }

    .ym-form textarea#editPage {
        height: 400px;
        font-family: monospace;
        line-height: 1.2;
        font-size: medium;
        font-style: oblique
    }

    header {
        background: #212121;
        background: -moz-linear-gradient(top, #373737, #212121);
        background: -webkit-linear-gradient(top, #373737, #212121);
        background: -ms-linear-gradient(top, #373737, #212121);
        background: -o-linear-gradient(top, #373737, #212121);
        background: linear-gradient(top, #373737, #212121);
    }
}

@media all {
    pre, code {
        color: #000;
        font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
        font-size: 14px;
        border-radius: 2px;
    }
    pre {
        border-left: dotted thin #aaaaaa;
    }
    pre .label {
        font-family: inherit;
        padding: 0;
        line-height: inherit;
        font-size: inherit;
        color: inherit;
        background: inherit;
        white-space: inherit;
        letter-spacing: inherit;
        vertical-align: inherit;
        display: inline;
    }

    pre.stacktrace {
        font-size: 75%;
    }

    .pageSignature {
        font-size: 12px;
        color: #999999;
    }
}
