@import url(core/base.css);

/* import screen layout | Screen-Layout einbinden */
@import url(navigation/hlist.css);
@import url(forms/gray-theme.css);

@import url(screen/typography.css);
@import url(screen/screen-FULLPAGE-layout.css);

/* import print layout | Druck-Layout einbinden */
@import url(print/print.css);

@media screen {
    #main .ym-wrapper {
        background: #fff;
    }
    body {
        background: #fff;
    }

    /* Layout Module Configuration */
    #main {
        font-size: 105%;
        font-family: "Warnock Pro", "Goudy Old Style", "Book Antiqua", Georgia, serif;
        color: #222;
    }

    #main .ym-wrapper2 {
        max-width: 50em;
        margin: 0 auto;
    }

    .ym-form textarea#editPage {
        height: 400px;
        font-family: monospace;
        line-height: 1.2;
        font-size: medium;
        font-style: oblique
    }
}

@media all {
    pre, code {
        color: #000;
        font-family: "Lucida Console", monospace;
        font-size: 100%;
    }
    pre {
        border-left: dotted thin #aaaaaa;
    }
    pre .label {
        font-family: inherit;
        padding: 0;
        line-height: inherit;
        font-size: inherit;
        color: inherit;
        background: inherit;
        white-space: inherit;
        letter-spacing: inherit;
        vertical-align: inherit;
        display: inline;
    }

    pre.stacktrace {
        font-size: 75%;
    }
}
