-@ var body: String
-@ var title : String = "Welcome"
-@ var head: String = null
-@ var nav: String = null
-@ var footer: String = null
-@ var searchForSidebar: Boolean = true
-@ var searchForHeadIncludes: Boolean = true
- val contextPath = PubletWebContext.contextPath
- val home = if (contextPath.isEmpty) "/" else contextPath
- import org.eknet.publet.web.Config
!!! 5
html(lang="en")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    script(type="text/javascript" src={contextPath + "/publet/jquery/jquery-1.7.2.min.js"})
    script(type="text/javascript" src={contextPath + "/publet/jquery/jquery.form.js"})
    link(href={contextPath + "/publet/bootstrap/css/bootstrap.min.css"} rel="stylesheet")
    link(href={contextPath + "/publet/highlightjs/styles/googlecode.css"} rel="stylesheet")
    script(type="text/javascript" src={contextPath + "/publet/bootstrap/js/bootstrap.min.js"})
    script(type="text/javascript" src={contextPath + "/publet/highlightjs/highlight.pack.js"})
    link(href={contextPath + "/publet/bootstrap/css/bootstrap.custom.css"} rel="stylesheet")
    - if (searchForHeadIncludes)
      =loadHeadIncludes()
    :javascript
      hljs.initHighlightingOnLoad();

    - if (head!=null)
      !~~ head
    title = Config("applicationName").map(_ + " - ").getOrElse("") + title
  body
    #nav.navbar.navbar-fixed-top
      .navbar-inner
        .container
          - if (nav != null)
            !~~ nav
          - if (nav == null)
            =include(loadInclude("nav"))

    #content.container
      - val sidebar = if (searchForSidebar) findInclude("sidebar", false) else None
      - if (sidebar.isDefined)
        .row
          .span8
            !~~ body
          .span4
            !~~ include(sidebar.get)
      - if (sidebar.isEmpty)
        !~~ body

    - if (footer != null)
      !~~ nav
    - if (footer == null)
      =include(loadInclude("footer"))