-@ val body: String
-@ val title : String = "Welcome"
-@ val head: String = null
-@ val highlightTheme: String = PubletWeb.publetSettings("publet.layout.highlightTheme").getOrElse("ascetic")
-@ val sidebar: String = null
-@ val sidebarOrientation: String = "left"
-@ val sidebarSize: Int = 4
-@ val searchForSidebar: Boolean = PubletWeb.publetSettings("publet.layout.searchForSidebar").getOrElse("true").toBoolean
-@ val searchForHeadIncludes: Boolean = PubletWeb.publetSettings("publet.layout.searchForHeadIncludes").getOrElse("true").toBoolean
-@ val footer: String = null
-@ val navigationBar: String = null
-@ val assetGroups: String = PubletWeb.publetSettings("publet.layout.assetGroups").getOrElse("")
-@ val defaultAssetGroup: String = PubletWeb.publetSettings("publet.layout.defaultAssetGroup").getOrElse("default")
- val ctx = PubletWebContext
- val home = ctx.urlOf("/")
- val highlightCss = ctx.urlOf("/publet/highlightjs/styles/"+ highlightTheme +".css")
- import org.eknet.publet.web.Config
!!! 5
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    - if (assetGroups == null || assetGroups.isEmpty)
      !~~ loadAssets(defaultAssetGroup)
    - else
      !~~ loadAssets((Seq(defaultAssetGroup) ++ assetGroups.split("\\s*,\\s*")): _*)

    - if (defaultAssetGroup == "default")
      link(href={ highlightCss } rel="stylesheet")

    - if (searchForHeadIncludes)
      =loadHeadIncludes()

    - if (head!=null)
      !~~ head
    title = PubletWeb.publetSettings("applicationName").map(_ + " - ").getOrElse("") + title
  body
    - if (navigationBar != null)
      !~~ navigationBar
    - else
      - val ext = findIncludeExtension("nav")
      - if (ext.isDefined)
        =include("__incl_nav."+ext.get)
    #content.container
      - if (sidebar != null)
        .row
          - if (sidebarOrientation == "right")
            div(class={ "span" + (12 - sidebarSize) })
              !~~ body
            div(class={ "span" + sidebarSize })
              !~~ sidebar
          - else
            div(class={ "span" + sidebarSize })
              !~~ sidebar
            div(class={ "span" + (12 - sidebarSize) })
              !~~ body
      - else
        - val ext = if (searchForSidebar) findIncludeExtension("sidebar", false) else None
        - if (ext.isDefined)
          .row
            - if (sidebarOrientation == "right")
              div(class={ "span" + (12 - sidebarSize) })
                !~~ body
              div(class={ "span" + sidebarSize })
                !~~ include("__incl_sidebar."+ext.get)
            - else
              div(class={ "span" + sidebarSize })
                !~~ include("__incl_sidebar."+ext.get)
              div(class={ "span" + (12 - sidebarSize) })
                !~~ body
        - if (ext.isEmpty)
          !~~ body

    - if (footer != null)
      !~~ footer
    - if (footer == null)
      - val ext = findIncludeExtension("footer", false)
      - if (ext.isDefined)
        =include("__incl_footer."+ext.get)