-@ var body: String
-@ var title : String = "Welcome"
-@ var head: String = null
-@ var nav: String = null
-@ var footer: String = null
- val contextPath = PubletWebContext.contextPath
- val home = if (contextPath.isEmpty) "/" else contextPath
- import org.eknet.publet.web.Config
!!! 5
html(lang="en")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    script(type="text/javascript" src="/publet/jquery/jquery-1.7.2.min.js")
    script(type="text/javascript" src="/publet/jquery/jquery.form.js")
    link(href="/publet/bootstrap/css/bootstrap.min.css" rel="stylesheet")
    link(href="/publet/bootstrap/css/bootstrap.custom.css" rel="stylesheet")
    link(href="/publet/highlightjs/styles/googlecode.css" rel="stylesheet")
    script(type="text/javascript" src="/publet/bootstrap/js/bootstrap.min.js")
    script(type="text/javascript" src="/publet/highlightjs/highlight.pack.js")
    :javascript
      hljs.initHighlightingOnLoad();

    - if (head!=null)
      !~~ head
    title = title
  body
    #nav.navbar.navbar-fixed-top
      .navbar-inner
        .container
          - if (nav != null)
            !~~ nav
          - if (nav == null)
            =include(loadInclude("nav"))

    #content.container
      !~~ body
    - if (footer != null)
      !~~ nav
    - if (footer == null)
      =include(loadInclude("footer"))