h1
  | The
  em ext
  | module
p
  | This module contains some nice-to-have extensions that consists of some
  | scala scripts, templates and singelton objects which aim to be of use from
  | within other scripts or templates.
h4 Contents
ol
  li
    a(href="#Contact_form") Contact Form
  li
    a(href="#Captcha") Captcha
  li
    a(href="#Download_Template") Download Template
  li
    a(href="#_em_Change_Password__em__and__em_My_Data__em__template") "Change Password" and "My Data" Template
  li
    a(href="#Counter_Extension") Counter Extension
  li
    a(href="#Blueprints___OrientDB") Database: Blueprints/OrientDB
  li
    a(href="#Thumbnails") Thumbnails
=include("_ext-content.md")