.icon_bullet_black {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(bullet_black.png) no-repeat;
}
.icon_bullet_white {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(bullet_white.png) no-repeat;
}
.icon_bullet_error {    
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(bullet_error.png) no-repeat;
}
.icon_bullet_purple {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(bullet_purple.png) no-repeat;
}
.icon_exclamation {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(exclamation.png) no-repeat;
}
.icon_bullet_key {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(bullet_key.png) no-repeat;
}
.icon_bullet_red {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(bullet_red.png) no-repeat;
}
.icon_bullet_green {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(bullet_green.png) no-repeat;
}
.icon_anchor {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(anchor.png) no-repeat;
}
.icon_bullet_arrow_bottom {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(bullet_arrow_bottom.png) no-repeat;
}
.icon_asterisk_orange {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(asterisk_orange.png) no-repeat;
}
.icon_disk {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(disk.png) no-repeat;
}
.icon_arrow_down {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(arrow_down.png) no-repeat;
}
.icon_email {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(email.png) no-repeat;
}
.icon_arrow_refresh {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(arrow_refresh.png) no-repeat;
}
.icon_emoticon_smile {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(emoticon_smile.png) no-repeat;
}
.icon_bin_empty {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(bin_empty.png) no-repeat;
}
.icon_bullet_orange {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(bullet_orange.png) no-repeat;
}
.icon_cross {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(cross.png) no-repeat;
}
.icon_bullet_arrow_top {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(bullet_arrow_top.png) no-repeat;
}
.icon_accept {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(accept.png) no-repeat;
}
.icon_bullet_disk {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(bullet_disk.png) no-repeat;
}
.icon_add {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(add.png) no-repeat;
}
.icon_bullet_go {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(bullet_go.png) no-repeat;
}
.icon_bullet_arrow_up {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(bullet_arrow_up.png) no-repeat;
}
.icon_bullet_add {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(bullet_add.png) no-repeat;
}
.icon_bullet_delete {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(bullet_delete.png) no-repeat;
}
.icon_bin_closed {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(bin_closed.png) no-repeat;
}
.icon_bullet_toggle_plus {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(bullet_toggle_plus.png) no-repeat;
}
.icon_lightbulb {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(lightbulb.png) no-repeat;
}
.icon_lock {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(lock.png) no-repeat;
}
.icon_tick {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(tick.png) no-repeat;
}
.icon_icons {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(icons.css);
}
.icon_asterisk_yellow {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(asterisk_yellow.png) no-repeat;
}
.icon_attach {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(attach.png) no-repeat;
}
.icon_bullet_pink {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(bullet_pink.png) no-repeat;
}
.icon_delete {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(delete.png) no-repeat;
}
.icon_bullet_blue {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(bullet_blue.png) no-repeat;
}
.icon_bin {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(bin.png) no-repeat;
}
.icon_bullet_wrench {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(bullet_wrench.png) no-repeat;
}
.icon_bullet_arrow_down {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(bullet_arrow_down.png) no-repeat;
}
.icon_bullet_yellow {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(bullet_yellow.png) no-repeat;
}
.icon_bullet_toggle_minus {
    width: 16px;
    height: 16px;
    background: url(bullet_toggle_minus.png) no-repeat;
}
.icon_error {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(error.png) no-repeat;
}
.icon_bullet_feed {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(bullet_feed.png) no-repeat;
}
.icon_bullet_picture {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(bullet_picture.png) no-repeat;
}
.icon_bullet_star {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(bullet_star.png) no-repeat;
}
.icon_cancel {
    display: inline-block;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    background: url(cancel.png) no-repeat;
}
