- import org.eknet.publet.auth.RepositoryModel
- import org.eknet.publet.auth.RepositoryTag
-@ val repositoryModel: Option[RepositoryModel] = None
-@ val revisions: String = ""
-@ val currentHead: String = ""

=include("_repoHead.jade")
- if (repositoryModel.isDefined)
  - val owner = repositoryModel.get.owner
  .btn-toolbar
    form.form-inline
      .input-append
        input.input.span5(type="text" id="revnames" placeholder="Revision - start typing to search heads or enter a commit id" data-provide="typeahead" data-source={revisions})
        button.btn#searchRev(type="submit") Go
      ul.nav.nav-pills.pull-right
        li
          a(href={"?r="+repositoryModel.get.name+".git"}) Source
        li
          a(href={"?r="+repositoryModel.get.name+".git&do=log"}) Log
        li
          a(href="./") Repositories
:javascript
  $(function() {
    $('#searchRev').on('click', function(e) {
      var rev = $('#revnames').val();
      $('#currentHead').text(rev);
      return false;
    });
  });