- import org.eknet.publet.auth.RepositoryModel
- import org.eknet.publet.auth.RepositoryTag
-@ val repositoryModel: Option[RepositoryModel] = None
-@ val currentHead: String = ""

- if (repositoryModel.isEmpty)
  .div.alert.alert-error No repositoryModel found.
- if (repositoryModel.isDefined)
  - val owner = repositoryModel.get.owner
  .row
    .span5
      - if (repositoryModel.get.tag == RepositoryTag.open)
        i.icon-star
      - if (repositoryModel.get.tag == RepositoryTag.closed)
        i.icon-lock
      - if (owner == Security.username)
        i.icon-user
      - if (owner != Security.username)
        span.label.label-info =owner
      h2
        =repositoryModel.get.name
        | @
        span#currentHead
          =currentHead
    .span7
      ul.nav.nav-pills.pull-right
        - if (owner == Security.username)
          li
            a(href={"?r=" +repositoryModel.get.name+ ".git&do=admin"}) Admin