-@ val actionUrl: String = "/publet/ext/scripts/sendMail.json"
- def configValid(): Boolean = Config("smtp.host").isDefined && Config("defaultReceiver").isDefined
- if (!configValid())
  .alert.alert-error
    | Mailer not configured! Sorry, the contact form is not working. Please specify SMTP settings in the configuration file.
- if (configValid())
  #response
  form(method="post" action={ PubletWebContext.urlOf(actionUrl) } id="contactForm")
    label
      | From (Email)
      input(type="text" name="from" required="required")
    label
      | Message
      textarea(name="message" required="required")
    input.noheight(name="text")
    .form-actions
      button.btn.btn-primary
        i.icon-envelope.icon-white
        | Send
  :javascript
    $(function() {
      var options = {
        success: function(data) {
          var closeIcon = ' <a class="close" data-dismiss="alert" href="#">×</a>';
          if (data.success) {
            $('#response').html('<div class="alert alert-success">'+data.message + closeIcon + '</div>');
            $('#contactForm').clearForm();
          } else {
            $('#response').html('<div class="alert alert-error">' +data.message + closeIcon + '</div>');
          }
        },
        dataType: 'json'
      };
      $('#contactForm').ajaxForm(options);
    });