-@ val actionUrl: String = "/publet/ext/scripts/sendMail.json"
- def configValid(): Boolean = Config("smtp.host").isDefined && Config("defaultReceiver").isDefined
- if (!configValid())
  .alert.alert-error
    | Mailer not configured! Sorry, the contact form is not working. Please specify SMTP settings in the configuration file.
- if (configValid())
  #response
  form.form-horizontal(method="post" action={ PubletWebContext.urlOf(actionUrl) } id="contactForm")
    .control-group
      label.control-label(for="nameInput") From (Email)
      .controls
        input(type="text" name="from" id="nameInput" required="required")
    .control-group
      label.control-label(for="msgInput") Message
      .controls
        textarea(name="message" required="required" id="msgInput" rows="4")
    input.noheight(name="text")
    .form-actions
      button.btn.btn-primary
        i.icon-envelope.icon-white
        | Send
  :javascript
    $(function() {
      var options = {
        beforeSubmit: function(arr, form, options) {
          $('#contactForm').mask();
        },
        success: function(data, status, xhr, form) {
          $('#contactForm').unmask();
          var closeIcon = ' <a class="close" data-dismiss="alert" href="#">×</a>';
          if (data.success) {
            $('#response').html('<div class="alert alert-success">'+data.message + closeIcon + '</div>');
            $('#contactForm').clearForm();
          } else {
            $('#response').html('<div class="alert alert-error">' +data.message + closeIcon + '</div>');
          }
        },
        dataType: 'json'
      };
      $('#contactForm').ajaxForm(options);
    });