-# template for changing own user data
-# only supports fullName, email and password
-#
-# By default the response text is rendered to a div element above the two
-# forms. You can stop that behaviour by defining a parameter 
-#    renderResponseElement = false
-# Then you should place a div somewhere with id 'myDataResponse'.
-#
-# By default, passwords are hashed using SHA-512. You can change this by
-# defining another algorithm using the parameter 'hashAlgorithm'.


-@ val formAction:String = PubletWebContext.urlOf( "/publet/ext/scripts/myDataUpdate.json" )
-@ val renderResponseElement:Boolean = true
-@ val hashAlgorithm: String = "SHA-512"
-@ val layoutHorizontal: Boolean = true

-if (renderResponseElement)
  #myDataResponse
-if (layoutHorizontal)
  !~~"<div class=\"row\"><div class=\"span4\">"
h3 Name and Email
form#myDataForm(action={ formAction } method="post")
  label
    | Full name:
  input(type="text" name="fullName")
  label
    | Email:
  input(type="text" name="email")
  input(type="hidden" name="what" value="setUserData")
  .form-actions
    button.btn.btn-primary
      i.icon-ok.icon-white
      | Save
-if (layoutHorizontal)
  !~~"</div><div class=\"span4\">"
h3 Change Password
form#changePasswordForm(action={ formAction } method="post")
  label
    | New Password
  input(type="password" name="newPassword1" required="required")
  label
    | Repeat it
  input(type="password" name="newPassword2" required="required")
  input(type="hidden" name="algorithm" value={ hashAlgorithm })
  input(type="hidden" name="what" value="setPassword")
  .form-actions
    button.btn.btn-primary
      i.icon-ok.icon-white
      | Save
-if (layoutHorizontal)
  !~~"</div></div>"

:javascript
    $(function() {
      var options = {
        error: function(data) {
          var closeIcon = ' <a class="close" data-dismiss="alert" href="#">×</a>';
          $('#myDataResponse').html('<div class="alert alert-error">Error with Ajax Request! '+ closeIcon + '</div>');
        },
        success: function(data) {
          var closeIcon = ' <a class="close" data-dismiss="alert" href="#">×</a>';
          if (data.success) {
            $('#myDataResponse').html('<div class="alert alert-success">'+data.message + closeIcon + '</div>');
          } else {
            $('#myDataResponse').html('<div class="alert alert-error">' +data.message + closeIcon + '</div>');
          }
        },
        dataType: 'json'
      };
      $('#changePasswordForm').ajaxForm(options);
      $('#myDataForm').ajaxForm(options);
    });
script(type="text/javascript")
  | //<![CDATA[
  |   $(function() {
  |     $.get('#{formAction}', { what: "getUserData" }, function(data) {
  |        if (data.success) {
  |          $('input[name=fullName]', '#myDataForm').val(data.fullName);
  |          $('input[name=email]', '#myDataForm').val(data.email);
  |        } else {
  |          var closeIcon = ' <a class="close" data-dismiss="alert" href="#">×</a>';
  |          $('#myDataResponse').html('<div class="alert alert-error">' +data.message + closeIcon + '</div>');
  |        }
  |     });
  |   });
  | //]]>