- val actionUrl = PubletWebContext.urlOf("/publet/scripts/login.json")
.row
  .span6.offset3
    #response
    .well
      form(method="post" class="form-horizontal" action={actionUrl} id="loginForm")
        legend
          | Login
        .control-group
          label.control-label(for="username") Username
          .controls
            input(name="username" id="username" type="text" size="20" required="required" placeholder="Username")
        .control-group
          label.control-label(for="password") Password
          .controls
            input(name="password" id="password" type="password" required="required" placeholder="Password")
        .control-group
          .controls
            label.checkbox
              input(type="checkbox" name="rememberMe") Remember me
        .form-actions
          button(type="submit" class="btn btn-primary")
            i.icon-ok.icon-white
            | Sign in
:javascript
  $(document).ready(function() {
    $('#username').focus();
    var options = {
      success: function(data) {
        var closeIcon = '<a class="close" data-dismiss="alert" href="#">×</a>';
        if (data.success) {
          var redirect = getURLParameter("redirect")
          if (redirect) {
            window.location=redirect;
          } else {
            $('#response').html('<div class="alert alert-success">'+data.message + closeIcon + '</div>');
          }
        } else {
          $('#response').html('<div class="alert alert-error">' +data.message + closeIcon + '</div>');
        }
      },
      dataType: 'json'
    };
    $('#loginForm').ajaxForm(options);
  });
