# This file assigns permissions to roles
#
# You can use wildcards as specified in shiros tutorial here
#    http://shiro.apache.org/permissions.html
#
# The permissions can be specified per request path. Then the path
# is translated into a list of segments separated by a colon. For
# example, to allow `put` (edit) to all resources below `/main/secured/`,
# you'd specify something like this:
#
#    put:main:secured:*
#
# and assign this permission to a role:
#
#   securedmember = put:main:secured:*
#
# Multiple permissions are separated by commas (`,`).
#
# There exist two permissions for accessing the content via
# git: `git:read` for pull/clone permission and `git:write`
# for push permission.
#
# All paths other then those starting with the main content
# root (which is `main` by default) are read-only resources
# in general.
#
# The single permission `*` matches all permissions.
#

manager = get:*,put:main:*,git:*