- import org.eknet.publet.web.util.AppSignature
.page-header
  h1
    | Publet Documentation
    small
      | v
      - if (AppSignature.version.endsWith("SNAPSHOT"))
        =AppSignature.version +" ["+ AppSignature.timeString +"]"
      - else
        =AppSignature.version