<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>publet</display-name>

    <servlet>
        <servlet-name>publet</servlet-name>
        <servlet-class>org.eknet.publet.web.servlet.PubletServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GitHttpServlet</servlet-name>
        <servlet-class>org.eknet.publet.web.servlet.GitHttpServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>publet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GitHttpServlet</servlet-name>
        <url-pattern>/git/*</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>org.eknet.publet.web.servlet.PubletInitListener</listener-class>
    </listener>

</web-app>